*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(222, 26%, 31%);
  transition: 200ms all;
}

/* TOGGLER */

body[data-theme="2"] .toggler::before {
  left: 28px;
}
body[data-theme="3"] .toggler::before {
  left: 56px;
}

/* TOGGLER */

/* THEME 2 STYLES END */

body[data-theme="2"] {
  background-color: hsl(0, 0%, 90%);
}

body[data-theme="2"] .buttons,
body[data-theme="2"] .toggler {
  background-color: hsl(0, 5%, 81%);
}

body[data-theme="2"] button {
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0px 3px 0px 0px hsl(35, 11%, 61%);
}

body[data-theme="2"] .toggler::before {
  background-color: hsl(25, 98%, 40%);
}

body[data-theme="2"] p,
body[data-theme="2"] h3,
body[data-theme="2"] .output {
  color: hsl(60, 10%, 19%);
}

body[data-theme="2"] .output {
  background-color: hsl(0, 0%, 93%);
}

body[data-theme="2"] .res-btn,
body[data-theme="2"] .del-btn {
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0px 3px 0px 0px hsl(185, 58%, 25%);
}

body[data-theme="2"] .eval-btn {
  background-color: hsl(25, 98%, 40%);
  box-shadow: 0px 3px 0px 0px hsl(25, 99%, 27%);
}

/* THEME 2 STYLES END */

/* THEME 3 STYLES */

body[data-theme="3"] {
  background-color: hsl(268, 75%, 9%);
}

body[data-theme="3"] .buttons,
body[data-theme="3"] .toggler,
body[data-theme="3"] .output {
  background-color: hsl(268, 71%, 12%);
}

body[data-theme="3"] button {
  background-color: hsl(268, 47%, 21%);
  box-shadow: 0px 3px 0px 0px hsl(290, 70%, 36%);
  color: hsl(52, 100%, 62%);
}

body[data-theme="3"] .toggler::before {
  background-color: hsl(176, 100%, 44%);
}

body[data-theme="3"] p,
body[data-theme="3"] h3,
body[data-theme="3"] .output {
  color: hsl(52, 100%, 62%);
}

body[data-theme="3"] .res-btn,
body[data-theme="3"] .del-btn {
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0px 3px 0px 0px hsl(285, 91%, 52%);
}

body[data-theme="3"] .eval-btn {
  background-color: hsl(176, 100%, 44%);
  box-shadow: 0px 3px 0px 0px hsl(177, 92%, 70%);
  color: #000;
}

/* THEME 3 STYLES END */


.calculator-container {
  max-width: 429px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 1em;
}

/* Header */

.header {
  width: 100%;
  height: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
}
.header h3 {
  margin-right: auto;
}

.toggle-con {
  position: relative;
}

.toggle-con span {
  padding: 0 5px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -15px;
}

.toggler {
  width: 75px;
  height: 23px;
  border-radius: 13px;
  display: block;
  background-color: hsl(223, 31%, 20%);
  position: relative;
  cursor: pointer;
  display: flex;
}

.toggler .theme {
  flex: 1;
}

.toggler::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: hsl(6, 63%, 50%);
  position: absolute;
  top: 4px;
  left: 4px;
  transition: 200ms all;
}


/* Header end */

/* Output */

.output {
  width: 100%;
  min-height: 100px;
  max-height: auto;
  grid-column: 1 / -1;
  background-color: #222;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em;
  font-size: 2em;
  color: #fff;
  word-break: break-all;
  word-wrap: break-word;
  user-select: none;
}

/* Output end */

/* Buttons */

.buttons {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, minmax(30px, 1fr));
  background-color: hsl(223, 31%, 20%);
  padding: 1.5em;
  gap: 1.5em;
  border-radius: 8px;
}

.buttons button {
  padding: 0.3em 0.8em;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  box-shadow: 0px 3px 0px 0px hsl(28, 16%, 65%);
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms all;
}

.buttons button:active {
  transform: scale(0.9);
  transform: translateY(3px);
  box-shadow: none;
}

.button-two {
  grid-column: span 2;
}

.buttons .del-btn,
.buttons .res-btn {
  font-size: 1.5em;
  color: white;
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px 3px 0px 0px hsl(224, 28%, 35%);
}

.buttons .eval-btn,
.res-btn {
  padding: 0.6em 0;
}

.buttons .eval-btn {
  font-size: 1.5em;
  color: white;
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px 3px 0px 0px hsl(6, 70%, 34%);
}

/* Buttons end */

/* MEDIAS */

@media screen and (max-width: 540px) {
  .buttons {
    gap: 0.9em;
  }
}

@media screen and (max-width: 300px) {
  .buttons {
    padding: 0.75em;
  }
  .buttons button {
    transform: scale(0.9);
    font-size: 1.5em;
  }
  .header {
    gap: 0.5em;
  }
}
